## Problem Statement 1.1
**Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly. You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('INFY.csv')

In [3]:
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [4]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [5]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,496.000000,496.000000,496.000000,496.000000,496.000000,496.00000,496.000000,4.960000e+02,4.960000e+02,4.960000e+02,4.960000e+02,496.000000
mean,961.505746,960.166331,970.148589,950.189415,959.942843,960.04254,960.262399,6.037975e+06,5.452230e+09,1.355993e+05,3.594822e+06,61.711593
std,220.856495,220.105831,223.013281,218.694264,220.978683,221.03952,221.113239,5.448129e+06,4.768762e+09,8.583843e+04,2.840850e+06,10.428229
min,619.100000,621.000000,628.000000,599.850000,619.500000,619.10000,613.780000,5.457170e+05,5.060941e+08,1.000000e+00,0.000000e+00,0.000000
25%,734.950000,736.050000,742.475000,729.037500,734.375000,734.78750,735.672500,3.133640e+06,3.343381e+09,9.208100e+04,2.059041e+06,55.110000
50%,956.750000,955.825000,963.925000,947.675000,955.675000,955.25000,954.550000,4.880990e+06,4.592718e+09,1.195405e+05,3.051691e+06,62.270000
75%,1150.212500,1145.137500,1161.425000,1135.887500,1147.850000,1150.05000,1148.220000,7.290372e+06,6.015533e+09,1.551135e+05,4.324140e+06,68.792500
max,1441.100000,1449.000000,1467.900000,1430.000000,1440.000000,1441.10000,1451.300000,8.220248e+07,7.662502e+10,1.192900e+06,4.202849e+07,100.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  496 non-null    object
 1   Series                  496 non-null    object
 2   Date                    496 non-null    object
 3   Prev Close              496 non-null    float64
 4   Open Price              496 non-null    float64
 5   High Price              496 non-null    float64
 6   Low Price               496 non-null    float64
 7   Last Price              496 non-null    float64
 8   Close Price             496 non-null    float64
 9   Average Price           496 non-null    float64
 10  Total Traded Quantity   496 non-null    int64
 11  Turnover                496 non-null    float64
 12  No. of Trades           496 non-null    int64
 13  Deliverable Qty         496 non-null    int64
 14  % Dly Qt to Traded Qty  496 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 58.2+ KB

###### In the above cell, we can observe that there are only three columns having the datatype as object.

In [7]:
df.isnull().sum()

Symbol                    0
Series                    0
Date                      0
Prev Close                0
Open Price                0
High Price                0
Low Price                 0
Last Price                0
Close Price               0
Average Price             0
Total Traded Quantity     0
Turnover                  0
No. of Trades             0
Deliverable Qty           0
% Dly Qt to Traded Qty    0
dtype: int64

###### No null values are there in the provided dataset

In [8]:
df = df[df.Series == 'EQ']

In [9]:
df # Here we have removed the columns where series is not EQ

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

### Each column is analyzed

In [10]:
df['Prev Close'].describe()

count     494.000000
mean      961.440789
std       220.761549
min       619.100000
25%       735.025000
50%       956.750000
75%      1150.150000
max      1441.100000
Name: Prev Close, dtype: float64

In [11]:
df['Prev Close'].head()

0    964.25
1    951.55
2    955.00
3    952.80
4    961.75
Name: Prev Close, dtype: float64

In [12]:
df['Open Price'].describe()

count     494.000000
mean      961.070040
std       220.091227
min       621.000000
25%       736.187500
50%       957.525000
75%      1145.412500
max      1449.000000
Name: Open Price, dtype: float64

In [13]:
df['High Price'].describe()

count     494.000000
mean      971.092713
std       222.968974
min       628.000000
25%       742.700000
50%       964.775000
75%      1161.675000
max      1467.900000
Name: High Price, dtype: float64

In [14]:
df['Low Price'].describe()

count     494.000000
mean      951.052733
std       218.714372
min       599.850000
25%       729.012500
50%       948.000000
75%      1135.962500
max      1430.000000
Name: Low Price, dtype: float64

In [15]:
df['Last Price'].describe()

count     494.000000
mean      960.845648
std       220.968590
min       619.500000
25%       734.125000
50%       956.025000
75%      1147.950000
max      1440.000000
Name: Last Price, dtype: float64

In [16]:
df['Close Price'].describe()

count     494.000000
mean      960.945749
std       221.029267
min       619.100000
25%       734.462500
50%       955.975000
75%      1150.150000
max      1441.100000
Name: Close Price, dtype: float64

In [17]:
df['Average Price'].describe()

count     494.000000
mean      961.166498
std       221.102384
min       613.780000
25%       735.720000
50%       955.060000
75%      1148.280000
max      1451.300000
Name: Average Price, dtype: float64

In [18]:
df['Total Traded Quantity'].describe()

count    4.940000e+02
mean     6.056365e+06
std      5.451445e+06
min      5.457170e+05
25%      3.148044e+06
50%      4.905804e+06
75%      7.303918e+06
max      8.220248e+07
Name: Total Traded Quantity, dtype: float64

In [19]:
df['Turnover'].describe()

count    4.940000e+02
mean     5.469840e+09
std      4.770342e+09
min      5.060941e+08
25%      3.350973e+09
50%      4.601808e+09
75%      6.042062e+09
max      7.662502e+10
Name: Turnover, dtype: float64

In [20]:
df['No. of Trades'].describe()

count    4.940000e+02
mean     1.361482e+05
std      8.557589e+04
min      1.388600e+04
25%      9.246300e+04
50%      1.197605e+05
75%      1.551745e+05
max      1.192900e+06
Name: No. of Trades, dtype: float64

In [21]:
df['Deliverable Qty'].describe()

count    4.940000e+02
mean     3.605878e+06
std      2.840733e+06
min      3.077410e+05
25%      2.064895e+06
50%      3.053880e+06
75%      4.332777e+06
max      4.202849e+07
Name: Deliverable Qty, dtype: float64

In [22]:
df['% Dly Qt to Traded Qty'].describe()

count    494.000000
mean      61.759008
std        9.924135
min       26.380000
25%       55.142500
50%       62.270000
75%       68.767500
max       88.700000
Name: % Dly Qt to Traded Qty, dtype: float64

## Problem Statement 1.2 
### i.e to find maximum, minimum and mean price for last 90 days.

In [23]:
df['Close Price'].tail(90).max() # Here tail(90) returns the last 90 values we want.

767.25

In [24]:
df['Close Price'].tail(90).min()

658.95

In [25]:
df['Close Price'].tail(90).mean()

728.6027777777778

 ## OR

In [26]:
df['Close Price'].tail(90).describe()

count     90.000000
mean     728.602778
std       25.490794
min      658.950000
25%      720.037500
50%      732.250000
75%      744.712500
max      767.250000
Name: Close Price, dtype: float64

## Problem Statement 1.3
**Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.**

In [27]:
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\Rajat\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df['Date'].dtypes # Here <M8[ns] corresponds to datetime64(ns)

dtype('<M8[ns]')

In [29]:
df['Date'].max() - df['Date'].min()

Timedelta('728 days 00:00:00')

## Problem Statement 1.4
**In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. ( VWAP = sum(price*volume)/sum(volume) ) To know more about VWAP , visit - VWAP definition {Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).**

In [30]:
# efficient way to extract yea and monthr from string format date
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year

C:\Users\Rajat\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rajat\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
# We will calculate VWAP i.e [VWAP = sum(price*volume)/sum(volume)]
df['VWAP'] = (df['Close Price'] * df['Total Traded Quantity']).sum() / (df['Total Traded Quantity']).sum()

C:\Users\Rajat\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
# Here we will create a variable and then use group by method on it consisting of month and year.
df_VWAP = df[['Month', 'Year', 'VWAP']]
Group = df_VWAP.groupby(['Month', 'Year'])
Group.first()

                  VWAP
Month Year
1     2018  902.652009
      2019  902.652009
2     2018  902.652009
      2019  902.652009
3     2018  902.652009
      2019  902.652009
4     2018  902.652009
      2019  902.652009
5     2017  902.652009
      2018  902.652009
      2019  902.652009
6     2017  902.652009
      2018  902.652009
7     2017  902.652009
      2018  902.652009
8     2017  902.652009
      2018  902.652009
9     2017  902.652009
      2018  902.652009
10    2017  902.652009
      2018  902.652009
11    2017  902.652009
      2018  902.652009
12    2017  902.652009
      2018  902.652009

## Problem statement 1.5
**Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days. Calculate the average price AND the profit/loss percentages over the course of last - 1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year. {Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }**

In [53]:
# We have made a function for calculating average price where N is no. of days
def average_price(N):
    return (df['Average Price'].tail(N).mean()) # Here mean calculates the average price and tail(N) explores about last values
print("Below are the average prices for last days: ")
print("Last 1 week:",average_price(7))
print("Last 2 weeks:",average_price(14))
print("Last 1 month:",average_price(28))
print("Last 3 months:",average_price(84))
print("Last 6 months:",average_price(168))
print("Last 1 year:",average_price(336))

Below are the average prices for last days:
Last 1 week: 721.7057142857144
Last 2 weeks: 727.5971428571428
Last 1 month: 737.3817857142858
Last 3 months: 732.8463095238097
Last 6 months: 712.3100595238095
Last 1 year: 964.2380952380954

In [48]:
def profit_loss(N):

336